    <div border="1" class="thread">
      【<%= threadnum %>】<a class="title" href=<%= (format #f "/~a/~a" path1 threadnum) %> > <%= subject %> </a><br>
      <% (format #t "<span class=\"shade\">~a Replies</span>" (- postcount 1)) %><br>
      <% (format #t (if image "<a href=/~a/~a ><img class=\"OPimg\" src=\"/pub/img/~a/~a/~a\"></a>" "") path1 threadnum path1 threadnum thumb) %>
      <p><%= comment %></p>
    </div>
