    <table class="post-frame"><tr><td valign="top" weight="bold">»</td><td>
    <div border="1" id="<%= postnum %>p" class="post">
      <input type="checkbox" name="posts" value=<%= (format #f "~a/~a/~a" path1 threadnum postnum) %> ><b><%= postnum %> <span class="name"><%= name %></span> <span class="date"><%= date %></span><% (format #t (if image " <span class=\"imgops\">[<a href=\"https://imgops.com/http://~a/pub/img/~a/~a/~a\" target=\"_blank\">ImgOps</a>]</span>" "") (get-conf '(host name)) path1 threadnum image) %></b><br>
      <% (format #t (if image "File: <a title='~a' href=\"/pub/img/~a/~a/~a\">~a</a> (~aB)<br>" "") iname path1 threadnum image (shorten iname max-filename-display-length) size) %>
      <table><tr valign="top">
        <% (format #t (if image "<td><a target=\"_top\" href=\"/pub/img/~a/~a/~a\"><img src=\"/pub/img/~a/~a/~a\"></a></td>" "") path1 threadnum image path1 threadnum thumb) %>
        <td><blockquote><%= (truncate-comment comment max-comment-preview-lines mode) %></blockquote></td>
      </tr></table>
    </div>
    </td></tr></table>


<%= (if replies replies "") %>
